$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

$off-font: grey;
$primary: #3f51b5;

$error: #a94442;
$error-background: #f2dede;

$success: #299c46;
$success-background: #d5fec8;
