<mat-card class="product-card-component">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img
        mat-card-image
        [src]="product.picture.url"
        alt="{{ product.picture.name }}"
    />
    <mat-card-content>
        <p class="text-price">{{ product.price | currency: "CLP" }}</p>
        <p class="text-description">
            {{ product.description | shortTextPipe: 100 }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button
            mat-flat-button
            (click)="onView.emit(product.id)"
            color="primary"
        >
            Ver
        </button>
        <button mat-button (click)="onEdit.emit(product.id)" color="primary">
            Editar
        </button>
    </mat-card-actions>
</mat-card>
