<div class="new-product-form">
    <form
        [formGroup]="newProductForm"
        class="create-product-form mat-elevation-z4"
    >
        <div class="left-section">
            <image-file-input
                [canEdit]="true"
                (onPictureChanged)="handlePicture($event)"
            ></image-file-input>
        </div>

        <div class="right-section">
            <mat-form-field appearance="outline">
                <mat-label>Nombre de producto</mat-label>
                <input formControlName="name" matInput />
                <mat-error
                    *ngIf="newProductForm.get('name').hasError('required')"
                >
                    Nombre es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Descripcion de producto</mat-label>
                <textarea
                    matInput
                    [matTextareaAutosize]="true"
                    formControlName="description"
                ></textarea>
                <mat-error
                    *ngIf="
                        newProductForm.get('description').hasError('required')
                    "
                >
                    Descripcion es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Categorio de producto</mat-label>
                <mat-select formControlName="category">
                    <mat-option
                        *ngFor="let category of categories"
                        [value]="category"
                        >{{ category }}</mat-option
                    >
                </mat-select>
                <mat-error
                    *ngIf="newProductForm.get('category').hasError('required')"
                >
                    Categoria es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <div class="two-columns">
                <mat-form-field appearance="outline">
                    <mat-label>precio de producto</mat-label>
                    <input type="number" formControlName="price" matInput />
                    <mat-error
                        *ngIf="newProductForm.get('price').hasError('required')"
                    >
                        Precio es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Cantidad de producto en almacen</mat-label>
                    <input type="number" formControlName="stock" matInput />
                    <mat-error
                        *ngIf="newProductForm.get('stock').hasError('required')"
                    >
                        Cantidad es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="action-section">
                <button (click)="cleanForm()" color="primary" mat-button>
                    Limpiar formulario
                </button>
                <button
                    (click)="submitForm()"
                    color="primary"
                    [disabled]="newProductForm.invalid"
                    mat-flat-button
                >
                    Guardar producto
                </button>
            </div>
        </div>
    </form>
</div>
