.image-input-file-component {
    img {
        width: 100%;
        border-radius: 4px;
    }
    .input-section {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
            margin: 0;
        }
        input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }
    }
}
