.detail-product-form {
    .create-product-form {
        display: grid;
        grid-template-columns: 35% 1fr;
        column-gap: 15px;
        padding: 15px;
        border-radius: 5px;

        .right-section {
            display: grid;

            .mat-input-element:disabled,
            .mat-select-disabled .mat-select-value {
                color: black;
            }

            .two-columns {
                display: grid;

                grid-template-columns: 1fr 1fr;
                column-gap: 20px;
            }
        }

        .action-section {
            text-align: right;
            button {
                margin-left: 10px;
            }
        }
    }
}
